html,
body {
    margin: 0;
    padding: 0;
    background-color: #282A37;
    height: 100%;
}


.main-container {
    max-width: 1400px;
    margin: 0 auto;
    background-color: #6e6c6c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 40px 20px 40px;
}

header {
    background-color: #282A37;
}

.hero-banner {
    width: 80%;
    background-color: #282A37;
    display: flex;
    margin: 0 auto;

}

.carousel-inner img {
    width: 110%;
}

.search-bar-container {
    display: flex;
    padding: 20px 0;
}

.search-input {
    flex-grow: 1;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-left: none;
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    color: #5d5d5d;
}

.btn-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    position: relative;
    margin-bottom: 20px;

}

.cart-counter {
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    transition: .2s linear;
    top: 115%;
}

.icon-cart {
    width: 24.38px;
    height: 30.52px;
    transition: .2s linear;
}

.icon-cart path {
    fill: rgb(255, 255, 255);
    transition: .2s linear;
}

.btn-cart:hover>.icon-cart {
    transform: scale(1.2);
}

.btn-cart:hover>.icon-cart path {
    fill: rgb(126, 154, 192);
}

.btn-cart:hover .cart-counter {
    opacity: 1;
    top: 105%;
}


.features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.feature-item {
    padding: 20px 50px;
    width: 400px;
    background-color: #e3e3e3;
    text-align: center;
    font-size: 16px;
    color: #5d5d5d;
}

.feature-item p {
    display: inline;
}

.feature-item i {
    font-size: 30px;
    display: block;
    color: #333333;
}

.products ,.container-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
    padding-bottom: 30px;
}

.product-card {
    background-color: #f7f7f7;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    width: 300px;
    height: 330px;
}

.product-card img {
    object-fit: contain;
    margin-bottom: 8px;
}

.product-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.product-descr {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.2;
    color: #5d5d5d;
}

.product-price {
    font-weight: 900;
    color: #000000;
    margin-bottom: 10px;
}

.product-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 0;
    border-top: 1px dashed #cccccc;
    margin-top: 10px;
}

.add-to-cart {
    background-color: #6aaa81;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px;
    text-transform: uppercase;
}

.product-actions i {
    font-size: 14px;
    color: #5d5d5d;
    cursor: pointer;
}

#like-button {
    cursor: pointer;
    color: #333;
}

.more-products-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
    margin-bottom: 30px;
}

.more-products-button {
    background-color: #6aaa81;
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    width: 500px;
}

.popular-things {
    font-weight: 700;
    color: #333333;
    font-size: 35px;
}


.exclusive-products {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 30px;
    text-align: center;
}

.exclusive-card {
    max-width: 400px;
}

.exclusive-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

.exclusive-card p {
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.hashtag-section {
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hashtag-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}

.hashtag-header p {
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    background-color: #E5F0ED;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    margin-bottom: -5px;
}


.last-three-blocks {
    background-color: #E5F0ED;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}

.product-card-last {
    background-color: #E5F0ED;
    padding: 20px;
}

.footer {
    background-color: #6e6c6c;
    padding: 30px 15px;
    text-align: center;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    margin: 0 -40px;
    width: calc(100% + 80px);
}

.footer-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #000000;
    margin-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    width: 800px;
}

.social-icons a {
    color: #ffffff;
    font-size: 28px;
    margin: 0 15px;
    opacity: 0.8;
    text-decoration: none;
}

.social-icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282A37;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}


#themeToggle {
  background: transparent;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 40px;
  transition: 0.4s transform linear;
  margin: 10px;
  border-color: transparent;
}


#themeToggle:hover {
  transform: scale(1.3);
  transition: 0.4s transform linear;
  box-shadow: inset 0px 0px 5px rgb(187, 187, 187);
}


#themeToggle:active {
  transform: scale(0.9);
  transition-duration: .2s;
}



body.light-theme {
  background-color: #e6e6e6;
  color: rgb(24, 24, 24);
}

body.light-theme .main-container {
  background-color: rgb(232, 198, 47);
  color: rgb(24, 24, 24);
}

body.light-theme footer {
  background-color: rgb(232, 198, 47);
  color: rgb(24, 24, 24);
}

body.light-theme main {
  color: rgb(24, 24, 24);
}

.cart-btn {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #c9c9c9;
  border-radius: 30px;
  color: rgb(2, 42, 68);
  font-weight: 600;
  font-size: 0.9em;
  font-family: "Martian Mono", monospace;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
}



body.light-theme .cart-btn {
  background-color: rgb(2, 42, 68) ;
  color: #c9c9c9;
}